@import "../../base.css";

main {
    max-width: var(--width-2xl);
    margin-left: auto;
    margin-right: auto;
    padding-top: var(--size-10);
    padding-right: var(--size-3);
    padding-left: var(--size-3);
}

ol {
    position: relative;
    border-left-width: 1px;
    border-color: rgb(var(--color-gray-700) / var(--border-opacity));
}

li {
    margin-left: var(--size-4);
    margin-bottom: var(--size-10);
}

main h3 {
    margin-bottom: var(--size-1);
    font-size: var(--font-size-sm);
    line-height: var(--line-height-5);
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height-none);
    color: rgb(var(--color-gray-400) / var(--text-opacity));
    text-transform: uppercase;
}

main h3::before {
    content: "";
    position: absolute;
    width: var(--size-3);
    height: var(--size-3);
    background-color: rgb(var(--color-amber-500) / var(--bg-opacity));
    border-radius: var(--border-radius-full);
    left: calc(var(--size-1_5) * -1);
    border-width: 1px;
    border-color: rgb(var(--color-slate-800) / var(--border-opacity));
    shape-outside: circle();
}

main h2 {
    font-size: var(--font-size-lg);
    line-height: var(--line-height-7);
    font-weight: var(--font-weight-semibold);
    color: rgb(var(--color-gray-300) / var(--text-opacity));
    font-family: Poppins, Roboto, var(--font-family-sans);
}

p {
    margin-bottom: var(--size-4) !important;
    font-size: var(--font-size-base);
    line-height: var(--line-height-6);
    font-weight: var(--font-weight-normal);
    color: rgb(var(--color-gray-400) / var(--text-opacity));
}

main a {
    display: inline-flex;
    align-items: center;
    padding: var(--size-2) var(--size-4) var(--size-2) var(--size-4);
    font-size: var(--font-size-sm);
    line-height: var(--line-height-5);
    font-weight: var(--font-weight-medium);
    border-width: 1px;
    border-radius: var(--border-radius-lg);
    background-color: rgb(var(--color-gray-800) / var(--bg-opacity));
    color: rgb(var(--color-gray-400) / var(--text-opacity));
    border-color: rgb(var(--color-gray-600) / var(--border-opacity));
    transition-duration: 300ms;
}

main a:hover {
    background-color: rgb(var(--color-gray-200) / var(--bg-opacity));
    color: rgb(var(--color-teal-700) / var(--text-opacity));
}

main a:focus {
    --ring-shadow: 0 0 0 2px (var(--color-teal-700) / var(--ring-opacity));
    box-shadow: 1 0 0 0 var(--ring-offset-color), var(--ring-shadow),
        var(--shadow, 0 0 #0000);
    color: rgb(var(--color-teal-700) / var(--text-opacity));
}

main svg {
    width: var(--size-3);
    height: var(--size-3);
    margin-left: var(--size-2);
}

@media (min-width: 1024px) {
    main {
        padding-top: 0px;
    }
}
