@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    /*
    Colors
    */
    --color-black: 0 0 0;
    --color-white: 255 255 255;
    --color-slate-50: 248 250 252;
    --color-slate-100: 241 245 249;
    --color-slate-200: 226 232 240;
    --color-slate-300: 203 213 225;
    --color-slate-400: 148 163 184;
    --color-slate-500: 100 116 139;
    --color-slate-600: 71 85 105;
    --color-slate-700: 51 65 85;
    --color-slate-800: 30 41 59;
    --color-slate-900: 15 23 42;
    --color-gray-50: 249 250 251;
    --color-gray-100: 243 244 246;
    --color-gray-200: 229 231 235;
    --color-gray-300: 209 213 219;
    --color-gray-400: 156 163 175;
    --color-gray-500: 107 114 128;
    --color-gray-600: 75 85 99;
    --color-gray-700: 55 65 81;
    --color-gray-800: 31 41 55;
    --color-gray-900: 17 24 39;
    --color-zinc-50: 250 250 250;
    --color-zinc-100: 244 244 245;
    --color-zinc-200: 228 228 231;
    --color-zinc-300: 212 212 216;
    --color-zinc-400: 161 161 170;
    --color-zinc-500: 113 113 122;
    --color-zinc-600: 82 82 91;
    --color-zinc-700: 63 63 70;
    --color-zinc-800: 39 39 42;
    --color-zinc-900: 24 24 27;
    --color-neutral-50: 250 250 250;
    --color-neutral-100: 245 245 245;
    --color-neutral-200: 229 229 229;
    --color-neutral-300: 212 212 212;
    --color-neutral-400: 163 163 163;
    --color-neutral-500: 115 115 115;
    --color-neutral-600: 82 82 82;
    --color-neutral-700: 64 64 64;
    --color-neutral-800: 38 38 38;
    --color-neutral-900: 23 23 23;
    --color-stone-50: 250 250 249;
    --color-stone-100: 245 245 244;
    --color-stone-200: 231 229 228;
    --color-stone-300: 214 211 209;
    --color-stone-400: 168 162 158;
    --color-stone-500: 120 113 108;
    --color-stone-600: 87 83 78;
    --color-stone-700: 68 64 60;
    --color-stone-800: 41 37 36;
    --color-stone-900: 28 25 23;
    --color-amber-50: 255 251 235;
    --color-amber-100: 254 243 199;
    --color-amber-200: 253 230 138;
    --color-amber-300: 252 211 77;
    --color-amber-400: 251 191 36;
    --color-amber-500: 245 158 11;
    --color-amber-600: 217 119 6;
    --color-amber-700: 180 83 9;
    --color-amber-800: 146 64 14;
    --color-amber-900: 120 53 15;
    --color-yellow-50: 254 252 232;
    --color-yellow-100: 254 249 195;
    --color-yellow-200: 254 240 138;
    --color-yellow-300: 253 224 71;
    --color-yellow-400: 250 204 21;
    --color-yellow-500: 234 179 8;
    --color-yellow-600: 202 138 4;
    --color-yellow-700: 161 98 7;
    --color-yellow-800: 133 77 14;
    --color-yellow-900: 113 63 18;
    --color-teal-50: 240 253 250;
    --color-teal-100: 204 251 241;
    --color-teal-200: 153 246 228;
    --color-teal-300: 94 234 212;
    --color-teal-400: 45 212 191;
    --color-teal-500: 20 184 166;
    --color-teal-600: 13 148 136;
    --color-teal-700: 15 118 110;
    --color-teal-800: 17 94 89;
    --color-teal-900: 19 78 74;
    --size--negative-2: -0.5rem;
    --size-negative-1: -0.25rem;
    --size-0: 0px;
    --size-1: 0.25rem;
    --size-2: 0.5rem;
    --size-3: 0.75rem;
    --size-4: 1rem;
    --size-5: 1.25rem;
    --size-6: 1.5rem;
    --size-7: 1.75rem;
    --size-8: 2rem;
    --size-9: 2.25rem;
    --size-10: 2.5rem;
    --size-11: 2.75rem;
    --size-12: 3rem;
    --size-14: 3.5rem;
    --size-16: 4rem;
    --size-20: 5rem;
    --size-24: 6rem;
    --size-28: 7rem;
    --size-32: 8rem;
    --size-36: 9rem;
    --size-40: 10rem;
    --size-44: 11rem;
    --size-48: 12rem;
    --size-52: 13rem;
    --size-56: 14rem;
    --size-60: 15rem;
    --size-64: 16rem;
    --size-72: 18rem;
    --size-80: 20rem;
    --size-96: 24rem;
    --size-px: 1px;
    --size-0_5: 0.125rem;
    --size-1_5: 0.375rem;
    --size-2_5: 0.625rem;
    --size-3_5: 0.875rem;
    --width-1: 1;
    --width-2: 2;
    --width-3: 3;
    --width-4: 4;
    --width-5: 5;
    --width-6: 6;
    --width-7: 7;
    --width-8: 8;
    --width-9: 9;
    --width-10: 10;
    --width-11: 11;
    --width-12: 12;
    /*
    xs: extra-small
    sm: small
    md: medium
    lg: large
    xl: extra-large
    */
    --width-xs: 20rem;
    --width-sm: 24rem;
    --width-md: 28rem;
    --width-lg: 32rem;
    --width-xl: 36rem;
    --width-2xl: 42rem;
    --width-3xl: 48rem;
    --width-4xl: 56rem;
    --width-5xl: 64rem;
    --width-6xl: 72rem;
    --width-7xl: 80rem;
    --width-prose: 65ch;
    --font-family-sans: ui-sans-serif, system-ui, -apple-system,
        BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans",
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --font-family-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times,
        serif;
    --font-family-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
        "Liberation Mono", "Courier New", monospace;
    --font-size-xs: 0.75rem;
    --font-size-sm: 0.875rem;
    --font-size-base: 1rem;
    --font-size-lg: 1.125rem;
    --font-size-xl: 1.25rem;
    --font-size-2xl: 1.5rem;
    --font-size-3xl: 1.875rem;
    --font-size-4xl: 2.25rem;
    --font-size-5xl: 3rem;
    --font-size-6xl: 3.75rem;
    --font-size-7xl: 4.5rem;
    --font-size-8xl: 6rem;
    --font-size-9xl: 8rem;
    --font-weight-thin: 100;
    --font-weight-extralight: 200;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --font-weight-extrabold: 800;
    --font-weight-black: 900;
    --line-height-3: 0.75rem;
    --line-height-4: 1rem;
    --line-height-5: 1.25rem;
    --line-height-6: 1.5rem;
    --line-height-7: 1.75rem;
    --line-height-8: 2rem;
    --line-height-9: 2.25rem;
    --line-height-10: 2.5rem;
    --line-height-none: 1;
    --line-height-tight: 1.25;
    --line-height-snug: 1.375;
    --line-height-normal: 1.5;
    --line-height-relaxed: 1.625;
    --line-height-loose: 2;
    --border-radius-none: 0px;
    --border-radius-sm: 0.125rem;
    --border-radius-default: 0.25rem;
    --border-radius-md: 0.375rem;
    --border-radius-lg: 0.5rem;
    --border-radius-xl: 0.75rem;
    --border-radius-2xl: 1rem;
    --border-radius-3xl: 1.5rem;
    --border-radius-full: 9999px;
    --text-opacity: 1;
    --bg-opacity: 1;
    --border-opacity: 1;
    --ring-offset-width: 0px;
    --ring-offset-color: #fff;
    --ring-color: rgb(147 197 253 / 0.5);
    --ring-offset-shadow: 0 0 #0000;
    --ring-shadow: 0 0 #0000;
    --shadow: 0 0 #0000;
    --shadow-colored: 0 0 #0000;
}

@layer base {
    /* scrollbar styling */
    ::-webkit-scrollbar {
        width: var(--size-1);
    }

    ::-webkit-scrollbar-track {
        background-color: rgb(var(--color-slate-800) / var(--bg-opacity));
        -webkit-border-radius: var(--size-1);
        border-radius: var(--size-1);
    }

    ::-webkit-scrollbar-thumb {
        -webkit-border-radius: var(--size-1);
        border-radius: var(--size-1);
        background: rgb(var(--color-slate-700) / var(--bg-opacity));
    }

    *,
    ::before,
    ::after {
        box-sizing: border-box;
        border-width: 0;
        border-style: solid;
        border-color: rgb(var(--color-slate-200) / 1);
    }

    @viewport {
        width: device-width;
    }

    html {
        line-height: 1.5;
        -webkit-text-size-adjust: 100%;
        tab-size: 4;
        font-family: var(--font-family-sans);
        color: rgb(var(--color-gray-300) / var(--text-opacity));
    }

    body {
        margin: 0;
        line-height: inherit;
        background-color: rgb(var(--color-slate-800) / var(--bg-opacity));
    }

    html,
    body {
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        scroll-behavior: smooth;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: inherit;
        font-weight: inherit;
    }

    h2.hide,
    h3.hide,
    h4.hide {
        display: none;
    }

    a {
        color: inherit;
        text-decoration: inherit;
    }

    b,
    strong {
        font-weight: bolder;
    }

    /*
    Standardise font size in all browsers.
    */

    small {
        font-size: 80%;
    }

    button,
    input,
    optgroup,
    select,
    textarea {
        font-family: inherit;
        font-size: 100%;
        font-weight: inherit;
        line-height: inherit;
        color: inherit;
    }

    button,
    select {
        text-transform: none;
    }

    button,
    [type="button"],
    [type="reset"],
    [type="submit"] {
        background-color: transparent;
        background-image: none;
    }

    /*
    Removes the default spacing and border for appropriate elements.
    */

    blockquote,
    dl,
    dd,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    hr,
    figure,
    p,
    pre {
        margin: 0;
    }

    ol,
    ul,
    menu {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    /*
    Set the default cursor for buttons.
    */

    button,
    [role="button"] {
        cursor: pointer;
    }

    header {
        width: auto;
    }

    section {
        scroll-margin-top: var(--size-24);
    }

    /*
    nav header view
    */
    header > a > h1 {
        font-weight: var(--font-weight-semibold) !important;
        font-size: var(--font-size-2xl) !important;
        line-height: var(--line-height-8);
        color: rgb(var(--color-gray-100) / var(--text-opacity));
    }

    header > a > p {
        font-size: var(--font-size-base);
        line-height: var(--line-height-6);
        font-weight: var(--font-weight-light);
        color: rgb(var(--color-gray-300) / var(--bg-opacity));
    }

    nav {
        justify-content: space-between;
        align-items: center;
        display: flex;
        flex-direction: row;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding-left: var(--size-1);
        padding-right: var(--size-1);
        padding-top: var(--size-10);
        padding-bottom: var(--size-10);
    }

    footer {
        width: 95%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: var(--size-2);
    }

    /*
    nav for deskstop view only
    */
    .nav__menu--desktop {
        display: none;
    }

    .nav__menu--desktop h2 {
        font-size: var(--font-size-base);
        line-height: var(--line-height-6);
        font-weight: var(--font-weight-normal);
    }

    /*
    nav for mobile view only
    */
    .nav__menu--mobile {
        display: flex;
        flex-direction: row;
        padding-left: var(--size-3);
        padding-right: var(--size-3);
        margin-top: calc(var(--size-5) * -1);
    }

    .nav__menu--mobile h2 {
        font-size: var(--font-size-base);
        line-height: var(--line-height-6);
        font-weight: var(--font-weight-normal);
    }

    /*
    Evenly space out the navigation headings in the mobile nav section
    */
    .nav__menu--mobile > * + * {
        margin-left: var(--size-8);
    }

    .nav__menu--icons {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: var(--size-2);
        padding-bottom: var(--size-2);
        margin-left: calc(var(--size-5) * -1);
    }

    /*
    Evenly space out the icons in the nav section
    */
    .nav__menu--icons > * + * {
        margin-left: var(--size-8);
    }

    .nav__menu--icons a {
        font-size: var(--font-size-base);
        line-height: var(--line-height-6);
        font-weight: var(--font-weight-normal);
    }

    .nav__menu--icons svg {
        width: var(--size-5);
        height: var(--size-5);
    }

    .nav__menu--icons svg:hover {
        color: rgb(var(--color-amber-500) / var(--text-opacity));
        transition-duration: 300ms;
    }

    .footer__items {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        width: 85%;
    }

    .footer__items a {
        display: flex;
        margin-top: var(--size-4);
        flex-direction: row;
        align-items: center;
        margin-right: var(--size-6);
    }

    .footer__items a:hover {
        color: rgb(var(--color-amber-500) / var(--text-opacity));
        transition-duration: 300ms;
    }

    .footer__items h2 {
        margin-left: var(--size-2);
        margin-right: var(--size-1);
        font-size: var(--font-size-sm);
        line-height: var(--line-height-5);
    }

    .footer__items svg {
        width: var(--size-4);
        height: var(--size-4);
    }

    .footer__items--redirect {
        width: var(--size-2) !important;
        height: var(--size-2) !important;
    }

    .footer__items--copyright {
        font-size: var(--font-size-xs);
        line-height: var(--line-height-4);
        margin-top: var(--size-4);
        color: rgb(var(--color-gray-500) / var(--text-opacity));
    }

    @media (min-width: 768px) {
        nav {
            flex-direction: row;
            padding-top: var(--size-20);
            padding-bottom: var(--size-20);
        }

        footer {
            padding: var(--size-4);
        }

        .nav__menu--desktop {
            display: flex;
            flex-direction: row;
        }

        /*
        Hide the mobile nav section for desktop view
        */
        .nav__menu--mobile {
            display: none;
        }

        /*
        Evenly space out the navigation headings in the nav section for desktop view
        */
        .nav__menu--desktop > * + * {
            padding-left: var(--size-8);
        }
    }

    @media (min-width: 1024px) {
        footer {
            padding: var(--size-8);
        }

        .footer__items a {
            margin-right: var(--size-10);
        }
    }
}
