@import 'base.css';

main {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
}

#introduction {
    top: var(--size-0);
    overflow: hidden;
    margin: 0 0 var(--size-4) var(--size-4);
    padding: var(--size-3) var(--size-2) var(--size-7) var(--size-2);
    display: flex;
    flex-direction: column;
}

#about {
    font-size: var(--font-size-base);
    line-height: var(--line-height-6);
    margin-top: var(--size-12);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/*
Evenly space out the 2 paragraphs
*/
#about > * + * {
    margin-top: var(--size-4);
}

#about strong {
    text-decoration-line: underline;
    transition-duration: 300ms;
    padding-left: var(--size-1);
    padding-right: var(--size-1);
}

#about strong:hover {
    background-color: rgb(var(--color-amber-500) / var(--bg-opacity));
    color: rgb(var(--color-slate-800) / var(--text-opacity));
    border-radius: var(--border-radius-md);
}

.main__introduction--title {
    font-size: var(--font-size-5xl);
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-tight);
    font-family: Poppins, Roboto, sans-serif;
}

.main__content--title {
    margin: 0 0 var(--size-4);
    font-family: Poppins, Roboto, sans-serif;
    font-size: var(--font-size-5xl);
    line-height: var(--line-height-10);
    font-weight: var(--font-weight-extrabold);
    color:rgb(var(--color-gray-100) / var(--text-opacity));
    position: relative;
}

.main__content--title::after {
    content: "";
    position: absolute;
    left: var(--size-negative-1);
    top: 50%;
    transform: translateY(-50%) rotate(9deg);
    width: var(--size-40);
    height: 120%;
    background: rgb(var(--color-amber-600) / var(--text-opacity));
    z-index: -1;
}

.main__content--title:last-of-type {
    margin-bottom: var(--size-4);
}

@media (min-width: 640px) {

}

@media (min-width: 768px) {

    #introduction {
        padding: 0 0 var(--size-16) var(--size-16);
    }

    .about {
        width: 75%;
    }
}

@media (min-width: 1024px) {

    main {
        flex-direction: row;
    }

    #introduction {
        position: sticky;
        width: 50%;
        height: 100vh;
        padding-left: var(--size-16);
        padding-right: var(--size-0);
    }

    .about {
        width: 100%;
    }
}
