@import 'base.css';

main {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
}

img {
    width: 80px;
    height: 80px;
}

#introduction {
    top: var(--size-0);
    overflow: hidden;
    margin: 0 0 var(--size-4) var(--size-4);
    padding: var(--size-3) var(--size-2) var(--size-7) var(--size-2);
    display: flex;
    flex-direction: column;
}

#about {
    font-size: var(--font-size-base);
    line-height: var(--line-height-6);
    margin-top: var(--size-12);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/*
Evenly space out the 2 paragraphs
*/
#about > * + * {
    margin-top: var(--size-4);
}

#about strong {
    text-decoration-line: underline;
    transition-duration: 300ms;
    padding-left: var(--size-1);
    padding-right: var(--size-1);
}

#about strong:hover {
    background-color: rgb(var(--color-amber-500) / var(--bg-opacity));
    color: rgb(var(--color-slate-800) / var(--text-opacity));
    border-radius: var(--border-radius-md);
}

#about > a {
    background-color:rgb(var(--color-slate-600) / var(--bg-opacity));
    border-radius: var(--border-radius-md);
    padding: var(--size-2) var(--size-2) var(--size-3) var(--size-3);
    transition-duration: 300ms;
}

#about > a:hover {
    background-color: rgb(var(--color-teal-600) / var(--bg-opacity));
}

#about a > section {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
}

#about svg {
    margin-left: var(--size-2);
    width: var(--size-5);
}

#content {
    padding-right: var(--size-2);
    margin: 0 var(--size-16) var(--size-4) var(--size-4);
    width: 100%;
}

#projects, #skills {
    padding-top: var(--size-16);
}

#skills ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    margin-top: var(--size-8);
    width: 100%;
} 

#skills ul li {
    margin: var(--size-4) var(--size-4) var(--size-4) var(--size-4);
    height: var(--size-20);
    width: var(--size-20);
}

.main__introduction--title {
    font-size: var(--font-size-5xl);
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-tight);
    font-family: Poppins, Roboto, sans-serif;
}

.main__content--title {
    margin: 0 0 var(--size-4);
    font-family: Poppins, Roboto, sans-serif;
    font-size: var(--font-size-5xl);
    line-height: var(--line-height-10);
    font-weight: var(--font-weight-extrabold);
    color:rgb(var(--color-gray-100) / var(--text-opacity));
    position: relative;
}

.main__content--title::after {
    content: "";
    position: absolute;
    left: var(--size-negative-1);
    top: 50%;
    transform: translateY(-50%) rotate(9deg);
    width: var(--size-40);
    height: 120%;
    background: rgb(var(--color-amber-600) / var(--text-opacity));
    z-index: -1;
}

.main__content--title:last-of-type {
    margin-bottom: var(--size-4);
}

.main__content--card {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: var(--size-56);
    background-color: rgb(var(--color-slate-700) / var(--bg-opacity));
    margin-bottom: var(--size-2);
    padding: var(--size-10) var(--size-10) var(--size-8) var(--size-8);
    border-radius: var(--border-radius-lg);
    transition: transform 200ms;
    box-shadow: 0 10px 15px 2px rgb(0 0 0 / 0.1), 0 4px 6px 3px rgb(0 0 0 / 0.1);
}

.main__content--card:hover {
    transform: scale(1.10);
}

.main__content--card h2 {
    font-size: var(--font-size-xs);
    line-height: var(--line-height-4);
    text-transform: uppercase;
}

.main__content--card h3 {
    font-size: var(--font-size-xl);
    line-height: var(--line-height-7);
    margin-bottom: var(--size-4);
}

.main__content--card p {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-5);
}

@media (min-width: 640px) {
    .main__content--card {
        min-height:var(--size-48);
    }
}

@media (min-width: 768px) {

    #introduction {
        padding: 0 0 var(--size-16) var(--size-16);
    }

    #about {
        width: 75%;
    }

    #content {
        padding-left: var(--size-8);
        padding-right: var(--size-8);
    }
}

@media (min-width: 1024px) {

    main {
        flex-direction: row;
    }

    #introduction {
        position: sticky;
        width: 50%;
        height: 100vh;
        padding-top: var(--size-14);
        padding-left: var(--size-16);
        padding-right: var(--size-0);
    }

    #about {
        width: 100%;
    }

    #content {
        width: 50%;
        margin: 0 0 var(--size-12) var(--size-12);
    }

    .main__content--card {
        padding-left: var(--size-10);
        padding-right: var(--size-10);
    }
}

@media (min-width: 1280px) {

    .main__content--card {
        padding-left: var(--size-12);
        padding-right: var(--size-12);
    }

    .main__content--card h3 {
        font-size: var(--font-size-2xl);
        line-height: var(--line-height-8);
    }

}
